#eCRoot {
    -fx-background-image: url("/images/Cards/backgrounds/poker-table-background-green-color_47243-1094.png");
    -fx-background-size: cover;
    -fx-background-position: center;

}

#eCRoot Label {
    -fx-text-fill: white;
}


#eCRoot Button{
    -fx-background-color: rgb(229, 229, 229);
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: "Impact";
    -fx-border-radius: 30;
    -fx-cursor: hand;

}

#eCRoot Button:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}

#eCRoot Button:hover {
    -fx-background-color: #adadad;
}